@charset "utf-8";
/* CSS Document */

@font-face {
    font-family: 'Silkscreen';
    src: url('font/slkscr-webfont.eot');
    src: url('font/slkscr-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/slkscr-webfont.woff') format('woff'),
         url('font/slkscr-webfont.ttf') format('truetype'),
         url('font/slkscr-webfont.svg#SilkscreenNormal') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
	font-size: 24px;
	font-family: Silkscreen, monospace;
	font-weight: bold;
	color: white;
	background-color: #10121d;
	background-image: url(bckgrd.gif);
}

#logo {
	text-align: center;
	margin-bottom: 20px;
}

#logo img {
	width: 300px;
}

fieldset {
	width: 80%;
	margin: auto;
}

legend {
	font-size: 64px;
	text-shadow: 0 0 25px white, 0 0 5px darkseagreen;
	margin-bottom: 20px;
}

ul {
 	list-style-type: none;
	margin:0;
	padding:0;
	text-shadow: 0 0 15px white;
}

li {
	margin-bottom: 15px;
}

#first {
	text-shadow: 0 0 15px gold, 0 0 5px darkorange;
	font-size: 36px;
}

#second {
	text-shadow: 0 0 15px magenta, 0 0 5px indigo;
	font-size: 32px;
}

#third {
	text-shadow: 0 0 15px aqua, 0 0 5px blue;
	font-size: 28px;
}


ul.leaders {
    max-width: 80em;
    padding: 0;
    overflow-x: hidden;
    list-style: none}

ul.leaders li:before {
    float: left;
    width: 0;
    white-space: nowrap;
	text-shadow: none;
	font-size: 24px;
    content:
 ". . . . . . . . . . . . . . . . . . . . "
 ". . . . . . . . . . . . . . . . . . . . "
 ". . . . . . . . . . . . . . . . . . . . "
 ". . . . . . . . . . . . . . . . . . . . "}

ul.leaders span:first-child {
    padding-right: 0.27em;
    background: #10121d}

ul.leaders span + span {
    float: right;
    padding-left: 0.33em;
    background: #10121d}

p {
	text-align: center;
	text-shadow: 0 0 20px white, 0 0 5px darkseagreen;
}

#credit {
	text-shadow: 0 0 12px lime, 0 0 5px lawngreen;
}