@charset "utf-8";
/* CSS Document */

@font-face {
    font-family: 'Silkscreen';
    src: url('font/slkscr-webfont.eot');
    src: url('font/slkscr-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/slkscr-webfont.woff') format('woff'),
         url('font/slkscr-webfont.ttf') format('truetype'),
         url('font/slkscr-webfont.svg#SilkscreenNormal') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
	font-size: 16px;
	font-family: Silkscreen, monospace;
	font-weight: bold;
	color: white;
	background-color: #10121d;
	background-image: url(bckgrd.gif);
}

#logo {
	text-align: center;
	margin-bottom: 1.250em;
}

#logo img {
	width: 300px;
}

fieldset {
	width: 80%;
	margin: auto;
}

legend {
	font-size: 4em;
	text-shadow: 0 0 1.563em white, 0 0 0.313em darkseagreen;
	margin-bottom: 1.250em;
}

ul {
 	list-style-type: none;
	margin:0;
	padding:0;
	text-shadow: 0 0 0.938em white;
}

li {
	margin-bottom: 0.938em;
}

#first {
	text-shadow: 0 0 0.938em gold, 0 0 0.313em darkorange;
	font-size: 2.750em;
}

#second {
	text-shadow: 0 0 0.938em magenta, 0 0 0.313em indigo;
	font-size: 2.500em;
}

#third {
	text-shadow: 0 0 0.938em aqua, 0 0 0.313em blue;
	font-size: 2.250em;
}


ul.leaders {
    max-width: 80em;
    padding: 0;
    overflow-x: hidden;
    list-style: none}

ul.leaders li:before {
    float: left;
    width: 0;
    white-space: nowrap;
	text-shadow: none;
	font-size: 2em;
    content:
 ". . . . . . . . . . . . . . . . . . . . "
 ". . . . . . . . . . . . . . . . . . . . "
 ". . . . . . . . . . . . . . . . . . . . "
 ". . . . . . . . . . . . . . . . . . . . "}

ul.leaders span:first-child {
    padding-right: 0.27em;
    background: #10121d}

ul.leaders span + span {
    float: right;
    padding-left: 0.33em;
    background: #10121d}

p {
	font-size: 2em;
	text-align: center;
	text-shadow: 0 0 1.875em white, 0 0 0.313em darkseagreen;
}

#credit {
	text-shadow: 0 0 0.938em lime, 0 0 0.313em lawngreen;
}
